@font-face {
  font-family: Inter ;
  src: url(../fonts/Inter.ttf);
}

@font-face {
  font-family: Playfair Display ;
  src: url(../fonts/PlayfairDisplay.ttf);
}



/* -------- GLOBAL RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    scroll-behavior: smooth;
  
    /* Your spacing system (industry standard) */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 6rem;
    

    --off-white: #ECE6E1;
    --navy: #121C27;
    --dark-navy: #00060D;
    --cream: #f8f6f1;
    --gold: #c9a961;
    --white: #ffffff;
    --gray: #6b6b6b;
    --light-gray: #e8e4dd;


    --font-primary:Playfair Display;
    --font-secondary:Inter;
  }
  
  body {
   background-color: var(--off-white);
  }
  
  /* -------- GLOBAL CONTAINER -------- */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-sm);
  }
  
  .outer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--space-sm);
    /* border: 1px solid rgb(55, 0, 255); */
  }
  
  /* -------- GLOBAL SECTION SPACING -------- */
  .section {
    padding: var(--space-xl) 0;
  }
  
  /* ====================
            HEADER 
   ======================*/
  .header {
    /* background: #fff; */
    padding:0 var(--space-sm) ;
    position: absolute;
    z-index: 1;
    width: 100%;
    font-family: var(--font-secondary);
  }
  
nav {
    padding: 1rem 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 1200px;
  margin: 0 auto;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-top: 1rem;
}

.nav-menu li a {
  color: var(--off-white);
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--font-secondary);

}

.hamburger,
.close-btn {
  display: none;
  background: none;
  border: none;
  color: var(--off-white);
  font-size: 2rem;
  cursor: pointer;
}

#cta-btn {
  border: 1px solid var(--off-white);
  padding: 1rem;
}

.hamburger {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease;
}

.hamburger.hidden {
  opacity: 0;
  pointer-events: none;
}


  .head-logo img {
    max-width: 30%;
    padding-top: 0.5rem;
    /* border: 1px solid red; */
  }

nav {
  transition: background-color 0.3s;
}

/* Navbar color after scroll */
nav.scrolled {
  background-color: var(--dark-navy);
}

/* ====================
            HERO 
   ======================*/

   .hero {
    /* position: relative; */
    width: 100%;
    height: 110vh;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    z-index: -0;
}

/* Overlay layer  */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    /* lighter dark overlay + your gradient*/ 
    background: 
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), /* subtle dark overlay */
        linear-gradient(
            rgba(0, 0, 0, 0) 60%,    /* gradient starts lower */
            #00060D 100%
        ),
        linear-gradient(to bottom, rgba(26, 26, 26, 0) 100%, #00060D 120%);
    z-index: -0;
}

/* Make hero content appear above overlay */

.hero h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin: var(--space-sm) 0 ;
  font-family: var(--font-primary);
  font-weight: 400;
}

.hero p {
  margin-bottom: var(--space-md);
  max-width: 600px;
  margin:2rem auto;
  font-size: 1rem;
  font-family:var(--font-secondary);
  line-height: 1.5;

}

.btn {
  display: inline-block;
  padding: var(--space-sm) var(--space-md);
  /* background: var(--dark-navy); */
  color: #fff;
  text-decoration: none;
  border: 1px solid var(--off-white);
}

.hero-content {
  margin-top: var(--space-xl);
  position: relative;
  z-index: 0;
}

/* ====================
            ABOUT 
   ======================*/

   .about {
    background: var(--dark-navy);
    color: var(--off-white);
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
  }

.about p:first-child {
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  
}

.about h2 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
  font-weight: 400;
  max-width: 700px;
  margin: var(--space-md) 0;
  line-height: 1.2;
}

.about p:last-child {
  font-size: 1.125rem;
  font-family: var(--font-secondary);
  max-width: 620px;
  
}

.about-right img {
max-width: 480px;
height: 700px;
/* margin-top: var(--space-xl); */
}

.about-left {
  margin-top: 5rem;
}

/* ====================
            SERVICES 
   ======================*/

   .services {
    background: var(--off-white);
    color: var(--dark-navy);
  }
  
  .services-grid {
    margin-top: var(--space-md);
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    /* gap: var(--space-lg); */
  }
  
  .service-card {
    border: 1px solid var(--gold);
    /* border-bottom: 1px solid var(--gold); */
    height: 35rem;

  }
  

  .service-card img{
width: 85%;
height: 45%; 
margin: 0 30px;
} 
  .services p:first-child {
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    
  }
  
  .services h2 {
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    max-width: 700px;
    margin: var(--space-md) 0 var(--space-lg);
  }
  
  .service-card:last-child {
    /* border: none; */
    
  }



  .service-card h3{
    font-family: var(--font-primary);
    font-weight: 400;
    padding: var(--space-xs) 0;
    margin: var(--space-sm) 0;
    text-align: center;

    } 

    .service-card p{
      font-family: var(--font-secondary);
      font-size: 0.875rem;
      font-weight: 400;
      padding: var(--space-xs) 0;
      margin: 0 auto;
      text-align: center;
      width: 80%;

      } 

.service-card img {
  margin-top: 3rem;
}

.service-card:last-child {
  /* border-bottom:1px solid var(--gold); */
}
/* ====================
        TESTIMONIALS 
   ======================*/  
  
.testimonials {
  background-color: var(--dark-navy);
  color: var(--off-white);
}



.testimonials p:nth-child(2) {
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  
}

.testimonials h2 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
  font-weight: 400;
  max-width: 700px;
  margin: var(--space-md) 0;
  color: var(--off-white);

}

.testimonial-cards {
  display: flex;
}
.testimonial-card p {
  font-family: var(--font-primary);
  font-size: 1.275rem;
  color: var(--off-white);
  width:50% ;
  margin:var(--space-lg) auto;
}

.testimonial-card span {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  color: var(--off-white);
  width:50% ;
  margin: 0 292px;
}


.testimonials h3 {
  font-size: 1rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  width: 50%;
  margin: var(--space-sm) 0;
  color: var(--off-white);
  margin: auto;

}


/* .row {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--gold);
} */

.custom-prev {
  background-color: var(--dark-navy);
  border: none;
  width:fit-content;
  height: fit-content;
  margin-right: 40px;
}  

.custom-next {
  background-color: var(--dark-navy);
  border: none;
  width:fit-content;
  height: fit-content;
} 

.slick-controls img {
  width: 40px;
}

.slick-controls {
  margin: 2rem 0 0 50rem;
  padding-top:2rem;
  z-index:999;
}
/* ====================
        FAQ 
   ======================*/  


.faq-section {
  background-color: var(--off-white);
  /* padding: 4rem 1.25rem; */
    color: var(--dark-navy);

}

.faq-section p {
font-family: var(--font-secondary);
font-size: 1rem;
}


.faq-section h2 {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  margin: var(--space-sm) 0 var(--space-md);
  font-weight: 400;
  }




  .accordion {
  width: 100%;
  max-width: 700px;
  margin: var(--space-lg) auto;
  border: none;
  background: var(--off-white);
}

.accordion-item {
  border-bottom: 1px solid var(--gold);
}

.accordion h3 {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#accordion h3 {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  text-align: left;
    padding: 1rem 0;
border-bottom: 1px solid var(--gold);
position: relative;
  padding-right: 2rem; 
  color: var(--dark-navy);


}

.accordion-content p {
  padding: var(--space-sm) 0;
  color: var(--dark-navy);
}

/* The + icon */
#accordion h3::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

/* When active, rotate + into × */
#accordion .ui-accordion-header-active::after {
  content: "×";
  transform: translateY(-50%) rotate(0deg);
  color: #D6C39D;
}



/* ====================
           FOOTER 
======================= */
  .footer {
    background: #111;
    color: #fff;
    /* text-align: center; */
    padding: var(--space-md) 0;
  }
  
.footer-info {
  border-top: 1px solid var(--gold);
}
.cta-section h2 {
  font-family: var(--font-primary);
  font-size: clamp(2rem, 4vw, 6rem);
  font-weight: 400;
  margin: 40px 0;
}

.footer-right img {
  max-width: 15.625rem;
}

.footer-info {
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 20rem;

}

address {
  font-style: normal;
}

.footer-left {
  margin-top: var(--space-lg);
}

.footer-left h4 {
  font-family: var(--font-secondary);
  font-weight: 600;
  margin-bottom: var(--space-xs);
}

.footer-left address a {
  text-decoration: none;
  margin: var(--space-lg) 0 ;
  color: var(--off-white);
  font-family: var(--font-secondary);
}

.footer-left p {
  margin-top: var(--space-lg);
  font-family: var(--font-secondary);

}

address span {
  display: block;
}
.phone {
  margin-bottom: 20px;
}

.phone a:hover, .email a:hover  {
  color: var(--gold);
}








  /* ---------------------------------------------------------------------------------------
     MEDIA QUERY
  ------------------------------------- */
  /* TABLETS */
  @media (max-width: 768px) {
    .head-logo img {
    max-width: 30%;
  }

  .hamburger {
    display: block;
    z-index: 20;
  }
  .nav-menu {
    position: fixed;
    top: -35px;
    right: -100%;
    width: 100%;
    height: 110vh;
    background-color: var(--dark-navy);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    transition: right 0.3s ease-in-out;
    z-index: 15;
  }

  .nav-menu.active {
    right: 0;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.5rem;
    z-index: 30;
  }

  .nav-menu li a {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
  }


  
  /* -------- HERO -------- */

  
  
  /* -------- ABOUT -------- */
  .flex-container {
    display: block;          /* override flex, so items behave like normal block elements */
  }

  .about-left,
  .about-right {
    max-width: 100%;         /* full width for mobile */
  }

  .about-right img {
    max-width: 90%;          /* scale image for mobile */
    height: auto;            /* maintain aspect ratio */
    margin: 12rem 0 0rem;
  }

.about-left-heading {
  position: absolute;
  top: 35px;
  margin: 0 30px;          /* center if needed */
    margin: 0 auto;          /* center if needed */

}

.about {
  position: relative;
  text-align: center;
 
}

.about-left-heading h2 {
  font-size: 1.75rem;
  margin: 0 ;
}

.about-left-heading h2 {
  font-size: 1.75rem;
  margin: 0 ;
  line-height: 1.2;
}

.about-left-heading p {
  margin: var(--space-xs) 0.5rem 0.5rem;
}

.about-left p:last-child {
  margin:0 auto;
  padding-bottom: 3.75rem;
}

.about-left p:first-child {
  padding-bottom: 1rem;
}
.section {
  padding: 0rem 0 ;
}





  /* -------- SERVICES -------- */
/* .services p:first-child {
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    
  } */
  .services {
  text-align:center;
  padding: 3.75rem 0 0 ;
  
  }

  .services h2 {
    font-size: 1.75rem;
    margin: var(--space-xs) 0;
  }

 .services-grid {
    margin-top: var(--space-xl);
   grid-template-columns: 1fr;
  }
 
  .service-card {
    border: none;

  }

  .service-card img{
width: 50%;
height: 50%; 
/* margin-top: var(--space-md); */
} 

.service-card p {
border-bottom: 1px solid var(--gold);
padding-bottom: 30px;
}

.service-card p:nth-child(4) {
  border: none;

}
.service-card:nth-child(3) {
position: relative;
bottom: 55px;
}

.service-card:nth-child(4) {
position: relative;
bottom: 55px;
border: none;
}

/* TESTIMONIALS */


.testimonials {
  margin: 0rem 0 3.5rem;
  padding:3.75rem 0;
}



.testimonial-card p {
  width:80% ;
}

.testimonial-card h3 {
  font-size: 0.875rem;
    margin: 15px 85px;

}

.testimonial-card span {
  font-size: 0.875rem;
  margin: 15px 85px;
}

.slick-controls {
  margin:40px 74px;
  
}

/* FAQ  */ 

.faq-section {
  padding: 0 0 3.75rem;
}



.faq-section h2 {
  font-size: 1.75rem;
}


/* CTA SECTION */
.footer {
padding: 3.75rem 0;
    text-align: center;
}

.footer-info {
  display: block;
  margin-top: 0;
}

.cta-section h2{
margin-bottom: var(--space-lg);
}

.footer-right img {
  max-width:9.375rem;
  margin-top:3rem;
}

}



  
  





















  /* PHONE =========================================================================*/

  @media (max-width: 375px) {
.section {
  padding: 0;  
}
  
  /* -------- ABOUT -------- */
  
  .about-right img {
    max-width: 90%;          /* scale image for mobile */
    height: auto;            /* maintain aspect ratio */
    margin: 9rem 0 0rem;
  }

/* .about-left-heading 
  margin: 0 30px;          /* center if needed */
 


.about {
  position: relative;
  text-align: center;
  padding: 40px 0;
 
}


.about-left-heading h2 {
  font-size: 1.75rem;
  margin: 0 1.2rem 0 0;
  line-height: 1.2;
}

.about-left-heading p {
  margin: 0.5rem 1rem 0 0 ;
}

.about-left p:last-child {
  margin:0 auto;
  width: 80%;
}

.section {
  padding: 3.75rem 0 ;
}

  /* -------- SERVICES -------- */
  /* .services {
    height: 100vh;
  } */

.service-card:nth-child(2) {
position: relative;
top: 60px;
}

.service-card:nth-child(3) {
position: relative;
top: 105px;
}

.service-card:nth-child(4) {
position: relative;
top: 180px;
}


.service-card p:nth-child(5) {

border:none;
}
 .services-grid {
    margin-top: var(--space-md);
   
  }

/* Testimonials  */ 

.testimonials {
  margin: 12rem 0 3.5rem;
  padding-bottom: 1rem;
}



.testimonial-card p {
  width:80% ;
}

.testimonial-card h3 {
  font-size: 0.875rem;
    margin: 15px 40px;

}

.testimonial-card span {
  font-size: 0.875rem;
  margin: 15px 40px;
}

.slick-controls {
  margin:40px 38px;
  
}
/* FAQ  */ 

.faq-section {
  padding-top: 0;
}



.faq-section h2 {
  font-size: 1.75rem;
}



}
